* {
    box-sizing: border-box ;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #C92153;
}

header {
    background-color: #ffdbb165;
    display: flex;       /* flexbox é sempre usada no elemento pai. Neste caso, o elemento 'header'. */
    flex-direction: row;     /* eixo principal (vertical ou horizontal), além do sentido (...-reverse). */
    justify-content: space-around;  /* alinha itens no eixo principal (horizontal). */
    align-items: center;        /*  alinha itens na vertical. */
    padding: 10px 80px;
}

header nav a {
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    margin: 24px;
    text-decoration: none;
}

header nav a:hover {
    color: #ffeac4;
}

#inicio {
    display:flex;
    /* align-items: center; */
    gap: 20px;
    padding: 60px 80px;
    background-color: #ff986c40;
}

.inicio-box2 {
    padding:30px;
}

h1{
    font-weight: bold;
    font-size: 60px;
    margin: 0px 0 25px 0;
    color: #fff;
    line-height: 95%;
    letter-spacing: -2px;
}


h2 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 32px;
    color: #fff;
}

#inicio img{
    max-width: 100%;
}

.paragrafo {
    line-height: 140%;
    margin-bottom: 32px;
}

.botao {
    background-color: #ffffff;
    color: #6B411C;
    padding: 16px 32px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    background-color: #6B411C;
    color: #fff;
}

.botao-transparente {
    background-color: transparent;
    color: #ffffff;
    padding: 16px 32px;
    text-underline-offset: 3px;
}

#produtos {
    padding: 40px 80px;
    background-color: #FFE5C7;
    
}

#produtos h2 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 32px;
    color: #6B411C;
}

.produtos-boxline1 {
    display: flex;
    gap: 32px;
    padding: 0 40px;
}

#produtos h3 {
    font-size: 28px;
    font-weight: lighter;
    padding: 20px;
    text-align: center; 
    color: #6B411C; 
}

#produtos p {
    font-size: 18px;
    padding: 20px;
    color: #6B411C;
}

.produtos-box1 {
    background-color: #fffdf9e1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 3px #1f1f1f33;
}

.produtos-box1-img {
   text-align: center;
}

.produtos-box2 {
    background-color: #fffdf9e1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 3px #1f1f1f33;
}

.produtos-box2-img {
    text-align: center;
}

.produtos-boxline2 {
    display: flex;
    gap: 32px;
    padding: 40px 40px;
}

.produtos-box3 {
    background-color: #fffdf9e1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 3px #1f1f1f33;
}

.produtos-box3-img {
    text-align: center;
 }

.produtos-box4 {
    background-color: #fffdf9e1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 3px #1f1f1f33;
}

.produtos-box4-img {
    text-align: center;
 }

#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 48px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: start;  
    gap: 32px;
    padding: 64px 60px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px 48px 24px 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right:24px;
}

.duvida .paragrafo {
    border-right: 1px solid #ff725e;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo {
    height:fit-content;
    opacity: 1;
    padding: 24px;
}

footer {
    background-color: #ff986c40;
    display: flex;
    justify-content: space-between;
    padding: 64px 80px;
    gap: 24px;
}

footer img, 
footer .titulo {
    display: block;  /* Para desabilitar o padrão "display:inline" do elemento "strong" e permitir o ajuste de margem. */
    margin-bottom: 24px;
    font-weight: 600;
}

footer nav a {
    color:#fde3a6db;
    display: block;  /* transforam o elemento em um bloco, criando camadas no eixo vertical. */
    margin-bottom: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color:#fde3a6db;
    text-decoration: none;
}

footer a:hover {
    color: #faf1dc;
}

#copyright {
    background-color: #263138;
    color: #ffffff;
    padding: 24px;
    text-align: center;
}

#copyright a {
    text-decoration: none;
    color: #ff725e;
}